name: Cache service tests
on:
  push:
    paths:
      - packages/cache-service/**
      - packages/protocol/**
      - packages/sdk/**
      - .github/workflows/cache-service-tests.yml

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: packages/cache-service
    steps:
      - uses: actions/checkout@v3
      - name: Install modules
        run: yarn
      - name: Build
        run: yarn build
      - name: Run tests
        run: yarn test
        env:
          NODE_ENV: test
