name: Oracle Node CI
on:
  push:
    paths:
      - packages/oracle-node/**
      - .github/workflows/oracle-tests.yml
      - .github/workflows/deploy-to-ecr-public.yml

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: packages/oracle-node
    steps:
      - uses: actions/checkout@v3
      - name: Install modules
        run: yarn
      - name: Build
        run: yarn build
      - name: Run tests
        run: yarn test:ci
        env:
          NODE_ENV: test
