name: SDK tests
on:
  push:
    paths:
      - packages/sdk/**
      - packages/utils/**
      - packages/oracles-smartweave-contracts/**
      - packages/protocol/**
      - .github/workflows/sdk-tests.yml

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: packages/sdk
    steps:
      - uses: actions/checkout@v3
      - name: Install modules
        run: yarn
      - name: Build
        run: yarn build
      - name: Lint
        run: yarn lint
      - name: Lint protocol
        run: cd ../protocol && yarn lint
      - name: Run tests
        run: yarn test
        env:
          NODE_ENV: test
